<h1>Results</h1>
<%= form_tag(new_booking_path, method: :get) do %>
  <%= hidden_field_tag(:pass_number, pass_number) %>
  <% @results.each do |flight| %>
    <div>
      <div class="flight">
      <%= render(flight) %>
        <div class="flight-select">
          <%= label_tag(:flight_id, 'Select') %>
          <%= radio_button_tag(:flight_id, flight.id) %>
        </div>
      </div>
    </div>
  <% end %>
  <%= submit_tag('Book') %>
<% end %>
